  <!-- If logged-in, can leave comments. -->
  {{#if loggedIn}}
    <div class='container m-3' id='add-comment-btn'>
      <div class='row d-flex justify-content-center align-items-center'>
        <div class='col-12 col-sm-6'>
          <button
            class='btn button btn-info custom-btn w-110'
            type='button'
            id='add-comment'
          >+ Add Comment: </button>
        </div>
      </div>
    </div>
  {{/if}}

  <div id='new-comment'>
    <div class='card bg-info-subtle m-3 rounded-3'>
      {{!-- <div class='card-body'> --}}
        <div id='view-post'>
          <form class='form add-comment-form'>
            <div class='input-group'>
              <div class='input-group'>
                <span class='input-group-text'>Description: </span>
                <textarea
                  id='comment-description'
                  class='form-control'
                  aria-label='With textarea'
                  placeholder='Type Here'
                ></textarea>
              </div>
            </div>
            <div class='row justify-content-center align-items-center'>
              <div class='col-2 text-center'>
                <button
                  class='btn button custom-btn'
                  type='submit'
                  id='submit-comment'
                >Submit</button>
              </div>
              <div class='col-2 my-3 text-center'>
                <button
                  class='btn button custom-btn'
                  type='button'
                  id='cancel-comment'
                >Cancel</button>
              </div>
            </div>
          </form>
        </div>

      {{!-- </div> --}}
    </div>
  </div>

</main>

<script src='/js/edit-post.js'></script>

{{!-- <header class='constainer text-center'>
  <div class='row bg-info text-white'>
    <h1
      class='h1 --bs-body-color col-4 p-2 mx-5 mb-4 bg-info-subtle text-dark rounded-3 header'
    >Your Dashboard</h1>
  </div>
</header>

<main class='container container-fluid mt-5'>
  <div id='view-post'>
    <form class='form post-form'>
      <div class='input-group mb-3'>
        <span class='input-group-text'>Title</span>
        <input
          id='post-title'
          type='text'
          class='form-control'
          placeholder='Insert title here'
          aria-label='Title'
          value='{{blog.title}}'
        />
      </div>
      <div class='input-group'>
        <div class='input-group'>
          <span class='input-group-text'>Description</span>
          <textarea
            id='post-description'
            class='form-control'
            aria-label='With textarea'
          >{{blog.description}}</textarea>
        </div>
      </div>
      <div class='row justify-content-center align-items-center'>
        <div class='form-group col-2 my-3 text-center'>
          <button
            class='btn button btn-info custom-btn'
            type='submit'
            id='update-post'
          >Update</button>
        </div>
        <div class='form-group col-2 my-3 text-center'>
          <button
            class='btn button btn-primary custom-btn'
            type='button'
            id='delete-post'
          >Delete</button>
        </div>
      </div>
    </form>
  </div>
</main>
<script src='/js/edit-post.js'></script> --}}
