{{! This is the login field for existing users }}
<div class="row my-5 justify-content-center">
  <div class="col-md-5">
    <div class="card my-3">
      <div class="card-body">
        <h3 class="row justify-content-center">Login:</h3>
        <form class="login-form">
          <div class="mb-3">
            <label for="email-login">Username:</label>
            <input
              class="form-control"
              type="text"
              id="username-login"
              aria-describedby="usernameHelp"
            />
          </div>
          <div class="mb-3">
            <label for="password-login">Password:</label>
            <input
              class="form-control"
              type="password"
              id="password-login"
              placeholder="Password"
            />
          </div>
          <div id="row my-5 justify-content-lg-center">
            <div class="userPrompt mb-3">
              <button
                class="btn button p-2"
                type="submit"
              >Login</button>
              <a
                class="btn button p-2"
                href="/signup"
              >Sign-up</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>