* {
  font-family: 'Nunito Sans', sans-serif !important;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(233, 221, 203)
}

header,
h1 {
  background-color: rgb(0, 26, 69);
  padding: 10px;
  color: whitesmoke !important;
}

header a {
  margin: 10px;
  padding: 5px;
  color: whitesmoke !important;
}

h3 {
  font-weight: bold
}

.card-title {
  display: flex;
  justify-content: center;
  background-color: rgb(32, 33, 34);
  color: whitesmoke;
  padding: 5px;
}

.car-body,
.card {
  background-color: rgb(222, 182, 130)
}

.card h5,
.card p,
nav-text {
  color: rgb(6, 7, 8);
  font-style: normal;
}

.form-text {
  margin-top: 0.25rem;
  font-size: 15px;
  color: rgb(0, 26, 69);
  justify-content: center;
  display: flex;
  font-style: bold;
}

/* .btn button {
  display: flex !important;
  padding: 3px;
  margin: 5px;
  justify-content:space-around;
  align-items: center !important;
  background-color: rgb(126, 237, 126);
} */


.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.userPrompt {
  display: flex;
  margin: 5px 10px 5px 10px;
  justify-content: space-evenly;
}

.content,
.edited-content {
  margin-left: 7vw;
  margin-right: 7vw;
}

.create,
.update,
.delete {
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 20px;
}

.title,
.edited-title {
  width: 75vw;
}