

* {
  font-family: 'Nunito Sans', sans-serif !important;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(219, 240, 251)
}

header, h1 {
  background-color: rgb(53, 130, 255);
  padding: 10px;
  color: whitesmoke !important;
}

header a {
  margin: 10px;
  padding: 5px;
  color: whitesmoke !important;
}

.card-title {
  background-color: lightgray;
  color: white;
  padding: 5px;
}

.card {
  background-color: lightgray;
}

.card h5, .card p, nav-text {
  color: darkslategray;
  font-style: normal;
}

button {
  padding: 3px;
  margin: 5px;
}

.post {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.content, .edited-content {
  margin-left: 7vw;
  margin-right: 7vw;
}

.create, .update, .delete {
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 20px;
}

.comment {
width: 80vw;
margin-top:20px;
}

.title, .edited-title {
  width: 75vw;
}